/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid rgb(0, 0, 0); */

  .navbar-item img {
    max-height: 75px;
    background-size: cover;
  }
  .navbar {
    box-shadow: 1px 1px 10px rgb(46, 46, 46);
  }
  #about-book {
    max-width: 465px;
  }
  
  @media screen and (max-width: 768px) {
    #about-book {
      max-width: 95%;
    }
  }
  © 2021 GitHub, Inc.
  Terms
  Privacy
  Security
  Status
  Docs
  Contact GitHub
  Pricing
  API
  Training
  Blog
  About
  