/* GLOBAL STYLES START */
/* Border-Box Styles Start */
* {
  box-sizing: border-box;
}
/* Border-Box Styles End */

/* Root Colors Start */
:root {
  /* Primary - intial button(s) color */
  --primary: rgb(53,28,117);
  /* Secondary - button(s) color change / view high score links */
  --secondary: rgb(187, 125, 216); 
  /* Tertiary - purpose */
   --tertiary: rgb(216,210,231); 
  /* Dark - borders / dk font */
  --dark: black;  
  /* Light - background / lt font */ 
  --light: white;
}
/* Root Colors End */
/* GLOBAL STYLES END */

/* BODY STYLES START */
body {
  margin: 0;
  padding: 0;
}

.main {
  border: 2px solid black;
  border-radius: 6px;
  background-color: var(--light);
  max-width: 970px;
  min-height: 400px;
  margin: 5px;
  font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.15;
  font-size: 1.0rem;
  color: var(--dark);
}
/* 'BODY' STYLES END */

/* GENERAL STYLES START */
/* Flex Styles Start */
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}
/* Flex Styles End */

/* Title Styles Start */
h1 {
  margin: 10px 0px;
}
/* Title Styles End */

/* Non-Titles Styles Start */
p {
  margin: 0;
  max-width: 510px;
}

#b-mrgn {
  margin: 0 0 15px 0;
}
/* Non-Titles Styles End

/* Button Styles Start */
.btn {
  width: auto;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: var(--primary);
  font: bold;
  color: white;
}

.btn:hover {
  background-color: var(--secondary);
}
/* Button Styles End */
/* GENERAL STYLES END */
/* Index - Header & Navigation Starts */
header {
  justify-content: space-between;
  margin: 25px;
}

nav a {
  text-decoration: none;
  color: var(--secondary);
}
/* Index - Header & Navigation Ends */

/* Content Sections Styles Start */
.content {
  justify-content: center;
  text-align: center;
  padding: 0 25px;
}
/* Content Sections Styles End */

/* Questions Display Styles Start - (se JS) */
.q {
  text-align: left;
  max-width: 50%;
}

.opt-btn {
  display: block;
  width: 160px;
  text-align: left;
  margin: 5px;
}

/* Questions Display Styles Ends */

/* Footer Display Styles Start */
footer {
  max-width: 50%;
  margin: auto;
  margin-top: 20px;
  font-style: italic;
  border-top: 3px solid lightgray;
  color: lightgray;
  text-align: center;
}

footer h3 {
  text-align: left;
}
/* Footer Styles End */

/* All Done Styles Start */
#done {
  text-align: left;
}

#initials {
  margin: 10px;
}
/* All Done Styles End */

/* High Scores Styles Start */
.hi-sc {
  margin: 10% 10%;
  justify-content: left;
  max-width: 50%;
}

.score-list {
  background-color: var(--tertiary);
  width: 100%;
  max-width: 300px;
  padding: 5px;
  text-align: left;
}
/* High Scores Styles End */

/* Utilities Styles Start */
.hide {
  display: none;
}
/* Utilities Styles End */
/* BODY ENDS

/* MEDIA QUERIES START */
/* Minimum Screen Width 980px */
@media screen and (min-width: 980px) {
  .main {
    margin: 5px auto;
  }
}

/* Maximum Screen Width 575px */
@media screen and (max-width: 575px) {
  .main {
    line-height: 1.10;
  }
  header {
    margin: 25px 25px 10px 25px;
  }
  .content {
    flex-direction: column;
  }
  .q {
    max-width: 90%;
  }
  .hi-sc {
    justify-content: center;
    margin: 10% auto;
    font-size: .8 rem;
  }
}